#card{
    background: url(../../assets/images/TTTPG.jpg) center center;
    background-size: 420px;
    font-size: 200%;
}

#card::before,#card::after{
    background: conic-gradient(
        from var(--gradient-angle),
        red,
        orange,
        purple,
        blue,
        green,
        red
    );
}

h1{
    background: linear-gradient(to bottom, orange, rgb(56, 56, 254));
    background-clip: text;
    -webkit-background-clip: text;
}

h1:hover{
    background: linear-gradient(to bottom,black, orange, blue);
    background-clip: text;
    -webkit-background-clip: text;
}

.alucrossboxes{
    width: 290px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px 8px;
}

.crossOcircle{
    height: 80px;
    aspect-ratio: 1;
    border: 2px solid rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}