#card{
    background: url(../../assets/images/Lpg.jpg) center center;
    background-size: 1000px;
    font-size: 200%;
}

#card::before,#card::after{
    background: conic-gradient(
        from var(--gradient-angle),
        blue,
        indigo,
        rgb(148, 48, 163),
        rgb(234, 60, 184),
        rgb(233, 84, 84),
        rgb(234, 60, 184),
        rgb(148, 48, 163),
        indigo,
        blue
    );
}

h1{
    background: linear-gradient(to bottom, orange, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
}

h1:hover{
    background: linear-gradient(to top, black, orange, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
}

#gameOver{
    font-weight: 900;
    font-size: 31px;
    color: crimson;
    letter-spacing: 2px;
}

#gameOver:hover{
    transform: scale(1.16);
    transition: all 0.25s ease;
}

#gameStatus{
    width: 10ch;
    color: yellowgreen;
    font-weight: 500;
    font-size: x-large;
    background: rgba(74, 74, 74, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 0.75rem;
    padding: 8px;
}

#gameStatus:hover{
    transform: scale(1.12);
    transition: all 0.25s ease;
}

#playAgain{
    width: 8ch;
    border: 2px solid grey;
    border-radius: 1rem;
    font-weight: 500;
    font-size: large;
    background: rgba(74, 74, 74, 0.25);
    backdrop-filter: blur(1px);
    color: limegreen;
    padding: 8px;
    cursor: pointer;
}

#playAgain:hover{
    transform: scale(1.12);
    color: rgb(170, 255, 0);
    background-color: #333333;
    transition: all 0.25s ease;
}

#mainMenu{
    width: 8ch;
    border: 2px solid grey;
    border-radius: 1rem;
    font-weight: 500;
    font-size: large;
    background: rgba(74, 74, 74, 0.25);
    backdrop-filter: blur(2px);
    color: silver;
    padding: 8px;
    cursor: pointer;
}

#mainMenu:hover{
    transform: scale(1.12);
    color: rgb(224, 224, 19);
    background-color: #333333;
    transition: all 0.25s ease;
}